 
 * {
    background-color: paleturquoise;
 }

 h1{
    font-size: 36px;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(45deg, green, blue);
    text-shadow: 2px 10px;
 }

#main-header {
   display: flex;
   align-items: center;
   flex-direction: column;
}

#purpose {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: larger;
    font-style: italic;
}

#sample-apps {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-style: italic;
    font-size: larger;
}

.app-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
}

nav {
    display: block;
    align-items: center;
    flex-direction: column;
    position: fixed;
    padding: 10px 15px;
}

button {
    display: flex;
    align-items: center;
    text-align: center;
    position: fixed;
    padding: 10px 20px;
    color: white;
    font-size: medium;
    background-color: blue;
    border-radius: 10px;
    border-color: lightblue;
    bottom: 20;
    cursor: pointer;
}

button:hover {
    background: -webkit-linear-gradient(45deg, lightblue, skyblue);
    -webkit-box-shadow: 0px 6px 15px;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    padding: 10px 20px;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkblue;
    color:azure;
    text-align: center;
}
